<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="ru.javawebinar.topjava.repository.inmemory.InMemoryUserRepository" id="inmemoryUserRepository"/>

    <bean class="ru.javawebinar.topjava.repository.inmemory.InMemoryMealRepository" id="inmemoryMealRepository"/>

    <bean class="ru.javawebinar.topjava.service.MealService" id="mealService"/>
    <bean class="ru.javawebinar.topjava.service.UserService" id="userService"/>

    <bean class="ru.javawebinar.topjava.web.user.AdminRestController"/>
    <bean class="ru.javawebinar.topjava.web.user.ProfileRestController"/>

    <bean class="ru.javawebinar.topjava.web.meal.MealRestController"/>

</beans>